global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'monitor-app'
    static_configs:
      - targets: ['monitor-app:3000']

rule_files:
  - "alert_rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]
